@charset "UTF-8";
/*===================================================================
reset*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, section, figure, aside, header, footer, main, nav, label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
}

img {
  vertical-align: top;
}

/* base
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
html {
  height: 100%;
  font-family: noto-sans-cjk-jp, 'Helvetica Neue', 'Roboto', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, verdana, sans-serif;
  -webkit-text-size-adjust: none;
}

html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  line-height: 1.6;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  background: #f5f5f5;
}

em, strong {
  font-weight: bold;
}

a {
  color: #333;
}

.is-sp {
  display: block !important;
}

@media screen and (max-width: 768px) {
  .is-sp {
    display: none !important;
  }
}

.is-pc {
  display: none !important;
}

@media screen and (min-width: 769px) {
  .is-pc {
    display: block !important;
  }
}

.cRed {
  color: #ec2c2c;
}

.ti1e {
  padding-left: 1em;
  text-indent: -1em;
}

/* header/nav
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
.head {
  background: #f5f5f5;
}

@media screen and (min-width: 769px) {
  .head {
    display: none;
  }
}

.head_ttl {
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  font-family: novecento-sans, sans-serif;
  letter-spacing: 0.21em;
}

.head-logo {
  position: absolute;
  top: 21px;
  left: 27px;
  width: 53px;
}

@media screen and (min-width: 769px) {
  .head-logo {
    top: 5%;
    left: 3%;
    width: 100px;
  }
}

.btn-nav {
  position: fixed;
  top: 27.5px;
  right: 21.5px;
  width: 40px;
  height: 40px;
  z-index: 11;
}

@media screen and (min-width: 769px) {
  .btn-nav {
    display: none;
  }
}

.btn-nav span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23px;
  height: 1px;
  background: #707070;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.btn-nav:after, .btn-nav:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 1px;
  background: #707070;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

.btn-nav:before {
  top: 8.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-nav:after {
  bottom: 8.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-nav.is-active span {
  opacity: 0;
}

.btn-nav.is-active:before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.btn-nav.is-active:after {
  bottom: auto;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.navWrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 10;
}

@media screen and (min-width: 769px) {
  .navWrap {
    display: block !important;
    position: static;
    height: auto;
    background: transparent;
  }
}

.navWrap_logo {
  position: absolute;
  top: 21px;
  left: 27px;
  width: 53px;
}

@media screen and (min-width: 769px) {
  .navWrap_logo {
    display: none;
  }
}

.navWrap_txt {
  position: absolute;
  width: 100%;
  bottom: 2%;
  font-size: 10px;
  text-align: center;
  font-family: novecento-sans, sans-serif;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 769px) {
  .navWrap_txt {
    top: 50%;
    bottom: auto;
    left: 4%;
    width: auto;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
    font-size: 14px;
    letter-spacing: 0.11em;
  }
}

.gnav {
  position: absolute;
  width: 100%;
  top: 48%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 769px) {
  .gnav {
    top: 4%;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 769px) {
  .gnav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gnav_list_item {
  margin-top: 55px;
  text-align: center;
  font-size: 20px;
  font-family: novecento-sans, sans-serif;
  letter-spacing: 0.11em;
  font-weight: 500;
}

@media screen and (min-width: 769px) {
  .gnav_list_item {
    margin: 0 3%;
    font-size: 18px;
    font-weight: 600;
  }
}

.gnav_list_item:first-child {
  margin-top: 0;
}

.gnav_list_item.is-active a {
  color: #5c8933;
}

.gnav_list_item a {
  -webkit-transition: color .12s linear;
  transition: color .12s linear;
}

@media screen and (min-width: 769px) {
  .gnav_list_item a {
    display: block;
    padding: 5px 10px;
  }
}

.gnav_list_item a:hover {
  color: #5c8933;
}

.snsnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 8%;
}

@media screen and (min-width: 769px) {
  .snsnav {
    top: 50%;
    bottom: auto;
    right: 4%;
    display: block;
    width: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.snsnav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 769px) {
  .snsnav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.snsnav_list_item {
  margin: 0 25px;
}

@media screen and (min-width: 769px) {
  .snsnav_list_item {
    margin: 25px 0;
  }
}

.snsnav_list_item svg {
  -webkit-transition: fill .12s linear;
  transition: fill .12s linear;
  fill: #000;
}

.snsnav_list_item a:hover svg {
  fill: #5c8933;
}

@media screen and (min-width: 769px) {
  .contents {
    width: 73%;
    max-width: 1390px;
    margin: 0 auto;
    padding-bottom: 200px;
  }
}

.articleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 769px) and (max-width: 1179px) {
  .articleList {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1180px) {
  .articleList {
    padding-top: 200px;
  }
}

.articleList_item {
  width: 50%;
}

@media screen and (min-width: 769px) and (max-width: 1179px) {
  .articleList_item {
    width: 25%;
    margin-top: 2%;
    padding: 0 1%;
  }
  .articleList_item:first-child, .articleList_item:nth-child(2) {
    width: 50%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1180px) {
  .articleList_item {
    width: 16.66%;
    margin-top: 2%;
    padding: 0 1%;
  }
  .articleList_item:first-child, .articleList_item:nth-child(2), .articleList_item:nth-child(3) {
    width: 33.33%;
    margin-top: 0;
  }
}

.articleList_item a {
  display: block;
  position: relative;
  height: 100%;
}

.articleList_item img {
  width: 100%;
  height: auto;
}

.articleList_item img.noimg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-single {
  padding: 0 15px;
}

@media screen and (min-width: 769px) {
  .main-single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 73%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 150px 0 200px;
  }
}

@media screen and (min-width: 1180px) {
  .main-single {
    padding-top: 200px;
  }
}

.single {
  height: auto;
  padding-bottom: 115px;
}

@media screen and (min-width: 769px) {
  .single {
    height: 100%;
  }
}

@media screen and (min-width: 769px) {
  .single_inr {
    width: 80%;
  }
}

@media screen and (min-width: 769px) {
  .single_ttlArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.single_mv {
  margin: 0 -15px;
}

@media screen and (min-width: 769px) {
  .single_mv {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
}

.single_mv img {
  max-width: 100%;
  height: auto;
}

.single_ttl {
  margin-top: 50px;
  font-size: 26px;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .single_ttl {
    margin: 0 0 100px;
    font-size: 31px;
  }
}

.single_content {
  margin-top: 50px;
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .single_content {
    margin-top: 100px;
    font-size: 18px;
  }
}

.single_content p {
  margin-top: 10px;
  line-height: 2;
}

.single_content img {
  max-width: 100%;
  height: auto;
}

.single_content a {
  text-decoration: underline;
}

.single_recent {
  overflow: hidden;
  margin: 50px -15px;
}

@media screen and (min-width: 769px) {
  .single_recent {
    width: 15%;
    margin: 0;
  }
}

.single_recent .noimg {
  padding: 15%;
}

.recent_articleList {
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0;
}

@media screen and (min-width: 769px) {
  .recent_articleList {
    white-space: normal;
    overflow: visible;
  }
}

.recent_articleList_item {
  display: inline-block;
  vertical-align: middle;
  width: 27%;
  margin-right: 12px;
}

@media screen and (min-width: 769px) {
  .recent_articleList_item {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
}

.recent_articleList_item img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */