@charset "utf-8";

@import "./mod/reset";
@import "./mod/base";


/* header/nav
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
.head {
	background: #f5f5f5;
	@media screen and (min-width: 769px) {
		display: none;
	}
	
	&_ttl {
		line-height: 100px;
		text-align: center;
		font-size: 18px;
		font-family: novecento-sans, sans-serif;
		letter-spacing: 0.21em;
	}

	&-logo {
		position: absolute;
		top: 21px;
		left: 27px;
		width: 53px;
		@media screen and (min-width: 769px) {
			top: 5%;
			left: 3%;
			width: 100px;
		}
	}
}

.btn-nav {
	position: fixed;
	top: 27.5px;
	right: 21.5px;
	width: 40px;
	height: 40px;
	z-index: 11;
	@media screen and (min-width: 769px) {
		display: none;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 23px;
		height: 1px;
		background: #707070;
		transform: translate(-50%,-50%);
		transition: opacity .15s linear;
	}

	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 23px;
		height: 1px;
		background: #707070;
		transition: .15s linear;
	}
	&:before {
		top: 8.5px;
		left: 50%;
		transform: translateX(-50%);
	}
	&:after {
		bottom: 8.5px;
		left: 50%;
		transform: translateX(-50%);
	}

	&.is-active {
		span {opacity: 0;}
		&:before {
			top: 50%;
			transform: translate(-50%,-50%) rotate(45deg);
		}
		&:after {
			bottom: auto;
			top: 50%;
			transform: translate(-50%,-50%) rotate(-45deg);
		}
	}
}

.navWrap {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	z-index: 10;
	@media screen and (min-width: 769px) {
		display: block !important;
		position: static;
		height: auto;
		background: transparent;
	}

	&_logo {
		position: absolute;
		top: 21px;
		left: 27px;
		width: 53px;
		@media screen and (min-width: 769px) {
			display: none;
		}
	}

	&_txt {
		position: absolute;
		width: 100%;
		bottom: 2%;
		font-size: 10px;
		text-align: center;
		font-family: novecento-sans, sans-serif;
		letter-spacing: 0.08em;
		@media screen and (min-width: 769px) {
			top: 50%;
			bottom: auto;
			left: 4%;
			width: auto;
			writing-mode: vertical-rl;
			-webkit-writing-mode: vertical-rl;
			-ms-writing-mode: vertical-rl;
			transform: rotate(180deg) translateY(50%);
			font-size: 14px;
			letter-spacing: 0.11em;
		}
	}
}

.gnav {
	position: absolute;
	width: 100%;
	top: 48%;
	left: 0;
	transform: translateY(-50%);
	@media screen and (min-width: 769px) {
		top: 4%;
		transform: none;
	}

	&_list {
		@media screen and (min-width: 769px) {
			display: flex;
			justify-content: center;
		}

		&_item {
			margin-top: 55px;
			text-align: center;
			font-size: 20px;
			font-family: novecento-sans, sans-serif;
			letter-spacing: 0.11em;
			font-weight: 500;
			@media screen and (min-width: 769px) {
				margin: 0 3%;
				font-size: 18px;
				font-weight: 600;
			}

			&:first-child {
				margin-top: 0;
			}

			&.is-active {
				a {
					color: #5c8933;
				}
			}

			a {
				transition: color .12s linear;
				@media screen and (min-width: 769px) {
					display: block;
					padding: 5px 10px;
				}

				&:hover {
					color: #5c8933;
				}
			}
		}
	}
}

.snsnav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 100%;
	bottom: 8%;
	@media screen and (min-width: 769px) {
		top: 50%;
		bottom: auto;
		right: 4%;
		display: block;
		width: auto;
		transform: translateY(-50%);
	}

	&_list {
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (min-width: 769px) {
			flex-direction: column;
		}

		&_item {
			margin: 0 25px;
			@media screen and (min-width: 769px) {
				margin: 25px 0;
			}

			svg {
				transition: fill .12s linear;
				fill: #000;
			}

			a {
				&:hover {
					svg {
						fill: #5c8933;
					}
				}
			}
		}
	}
}

.contents {
	@media screen and (min-width: 769px) {
		width: 73%;
		max-width: 1390px;
		margin: 0 auto;
		padding-bottom: 200px;
	}
}

.articleList {
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: 769px) and (max-width: 1179px) {
		padding-top: 150px;
	}
	@media screen and (min-width: 1180px) {
		padding-top: 200px;
	}

	&_item {
		width: 50%;
		@media screen and (min-width: 769px) and (max-width: 1179px) {
			width: 25%;
			margin-top: 2%;
			padding: 0 1%;

			&:first-child,
			&:nth-child(2) {
				width: 50%;
				margin-top: 0;
			}
		}

		@media screen and (min-width: 1180px) {
			width: 16.66%;
			margin-top: 2%;
			padding: 0 1%;

			&:first-child,
			&:nth-child(2),
			&:nth-child(3) {
				width: 33.33%;
				margin-top: 0;
			}
		}

		a {
			display: block;
			position: relative;
			height: 100%;
		}

		img {
			width: 100%;
			height: auto;

			&.noimg {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
}


.main-single {
	padding: 0 15px;
	@media screen and (min-width: 769px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 73%;
		max-width: 1390px;
		margin: 0 auto;
		padding: 150px 0 200px;
	}
	@media screen and (min-width: 1180px) {
		padding-top: 200px;
	}
}

.single {
	height: auto;
	padding-bottom: 115px;
	@media screen and (min-width: 769px) {
		height: 100%;
	}

	&_inr {
		@media screen and (min-width: 769px) {
			width: 80%;
		}
	}

	&_ttlArea {
		@media screen and (min-width: 769px) {
			display: flex;
			flex-direction: column;
		}
	}

	&_mv {
		margin: 0 -15px;
		@media screen and (min-width: 769px) {
			order: 1;
			margin: 0;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&_ttl {
		margin-top: 50px;
		font-size: 26px;
		font-weight: bold;
		@media screen and (min-width: 769px) {
			margin: 0 0 100px;
			font-size: 31px;
		}
	}

	&_content {
		margin-top: 50px;
		font-size: 16px;
		@media screen and (min-width: 769px) {
			margin-top: 100px;
			font-size: 18px;
		}

		p {
			margin-top: 10px;
			line-height: 2;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		a {
			text-decoration: underline;
		}
	}

	&_recent {
		overflow: hidden;
		margin: 50px -15px;
		@media screen and (min-width: 769px) {
			width: 15%;
			margin: 0;
		}

		.noimg {
			padding: 15%;
		}
	}
}

.recent_articleList {
	white-space: nowrap;
	overflow-x: auto;
	font-size: 0;
	@media screen and (min-width: 769px) {
		white-space: normal;
		overflow: visible;
	}

	&_item {
		display: inline-block;
		vertical-align: middle;
		width: 27%;
		margin-right: 12px;
		@media screen and (min-width: 769px) {
			display: block;
			width: 100%;
			margin: 20px 0;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}