@charset "utf-8";

@import "./mod/reset";
@import "./mod/base";
@import "./mod/swiper";


/* header/nav
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
.head {
	background: #f5f5f5;
	@media screen and (min-width: 769px) {
		display: none;
	}
	
	&_ttl {
		line-height: 100px;
		text-align: center;
		font-size: 18px;
	}
}

.head-logo {
	position: absolute;
	top: 21px;
	left: 27px;
}

.btn-nav {
	position: fixed;
	top: 27.5px;
	right: 21.5px;
	width: 40px;
	height: 40px;
	z-index: 11;
	@media screen and (min-width: 769px) {
		display: none;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 23px;
		height: 1px;
		background: #707070;
		transform: translate(-50%,-50%);
	}

	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 23px;
		height: 1px;
		background: #707070;
	}
	&:before {
		top: 8.5px;
		left: 50%;
		transform: translateX(-50%);
	}
	&:after {
		bottom: 8.5px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.navWrap {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	z-index: 10;
	@media screen and (min-width: 769px) {
		display: block !important;
		position: static;
		height: auto;
		background: transparent;
	}

	&_logo {
		position: absolute;
		top: 21px;
		left: 27px;
		@media screen and (min-width: 769px) {
			display: none;
		}
	}
}

.gnav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 73%;
	@media screen and (min-width: 769px) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	&_list {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 769px) {
			flex-direction: row;
			justify-content: center;
		}

		&_item {
			margin-top: 18%;
			text-align: center;
			font-size: 18px;
			font-family: "Helvetica Neue", verdana, sans-serif;
			@media screen and (min-width: 769px) {
				margin: 0 5%;
			}
		}
	}
}

.snsnav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 27%;
	@media screen and (min-width: 769px) {
		position: absolute;
		top: 50%;
		right: 4%;
		display: block;
		height: auto;
		transform: translateY(-50%);
	}

	&_list {
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (min-width: 769px) {
			flex-direction: column;
		}

		&_item {
			margin: 0 25px;
			@media screen and (min-width: 769px) {
				margin: 25px 0;
			}
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	&_mv {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 73%;
		background: url(../img/bg.jpg) no-repeat center top #f5f5f5;
		background-size: cover;
		@media screen and (min-width: 769px) {
			height: 100%;
			background: url(../img/bg_pc.jpg) no-repeat center top #f5f5f5;
			background-size: cover;
		}

		&_logo {
			width: 49%;
			@media screen and (min-width: 769px) {
				max-width: 447px;
				margin: 0 auto;
			}
		}
	}

	&_txt {
		padding: 0 9%;
		@media screen and (min-width: 769px) {
			position: absolute;
			top: 50%;
			left: 4%;
			padding: 0;
			text-align: center;
			writing-mode: vertical-rl;
			-webkit-writing-mode: vertical-rl;
			-ms-writing-mode: vertical-rl;
			transform: rotate(180deg) translateY(50%);
		}
	}
	
	&_info {
		padding: 0 9%;
		@media screen and (min-width: 769px) {
			padding: 0;
		}
	}
}


.articleList {
	display: flex;
	flex-wrap: wrap;

	&_item {
		width: 50%;

		img {
			width: 100%;
			height: auto;
		}
	}
}


.main-single {
	padding: 0 15px;
}

.single {
	&_mv {
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&_ttl {
		margin-top: 50px;
		font-size: 26px;
		font-weight: bold;
	}

	&_content {
		margin-top: 50px;
		font-size: 16px;

		p {
			margin-top: 10px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.single_recent {
	overflow: hidden;
	margin: 50px auto;
}
.recent_articleList {
	&_item {
		width: 27%;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}